.boardContainer {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 90%;
    border: solid  rgb(69, 120, 186) 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    /* justify-content: center; */
}

.table {
    /* min-width: 30rem; */
    display: flex;
    flex-direction: column;
    background-color: black;
}

.ligns {
    display: flex;
}

.pos {
    font-size: 9px;
    color: white;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: gold;
}

@keyframes pulse {
    from {
        overflow: inherit;
        box-shadow: 0 0 0 0rem rgba(234, 178, 11, 1);
    }
    to { 
        box-shadow: 0 0 0 4px rgba(234, 178, 11, 0.01);
    }
  }
  @keyframes pulseExit {
    from {
        overflow: inherit;
        box-shadow: 0 0 0 0rem rgb(158, 23, 226);
    }
    to { 
        box-shadow: 0 0 0 4px rgb(158, 23, 226, 0.01);
    }
  }