.table {
    display: flex;
    flex-direction: column;
}

.ligns {
    display: flex;
}

.pos {
    font-size: 9px;
    width: 9px;
    height: 9px;
    background-color: aquamarine;
    border: solid black 1px;
}