.table {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.ligns {
    display: flex;
}

.pos {
    font-size: 9px;
    color: white;
    width: 9px;
    height: 9px;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
}

@keyframes pulse {
    from {
        overflow: inherit;
        box-shadow: 0 0 0 0rem rgba(234, 178, 11, 1);
    }
    to { 
        box-shadow: 0 0 0 4px rgba(234, 178, 11, 0.01);
    }
  }