.editorPage {
    display: flex;
}

/* VIEW */
.editView {
    width: 100%;
    height: 90%;
    background-color: aqua;
}

.editViewTop {
    width: 100%;
    height: 4%;
    max-width: 26.7rem;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.editBlankHorizontal {
    width: 6.5rem;
    height: 1rem;
}

.editViewBottom {
    height: 96%;
    max-width: 27rem;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}

.editRangeVertival {
    height: 100%;
    padding-left: 1rem;
}

.editBlankVertical {
    width: 1rem;
   height:  20%;
}

.editTable {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 90%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    background-color: black;
}



/* SHOP */
.editShop {
    width: 30%;
    min-width: 10.9rem;
    height: 90%;
    background-color: black;
    margin: 1rem;
  
  

}

.shopList {
    width: 100%;
    max-width: 10.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
   
}

.shopCategory {
    width: 3.5rem;
    min-width: 3.5rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.editView {
    width: 70%;
    max-width: 28rem;
    max-height: 23rem;
    background-color: black;
}