.editorPage {
    display: flex;
}

/* VIEW */
.editView {
    height: 90%;
}

.editViewTop {
    display: flex;
    flex-direction: row;
}

.editBlankHorizontal {
    width:  21%;
    height: 1rem;
}

.editViewBottom {
    height: 90%;
    display: flex;
    flex-direction: row;
}

.editBlankVertical {
    width: 1rem;
   height: 23%;
}

.editTable {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    background-color: black;
}



/* SHOP */
.editShop {
    width: 30%;
    min-width: 10.9rem;
    height: 90%;
    background-color: black;
    margin: 1rem;
  
  

}

.shopList {
    width: 100%;
    max-width: 10.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
   
}

.shopCategory {
    width: 3.5rem;
    min-width: 3.5rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.editView {
    width: 70%;
    background-color: black;
}