/* HEADER */

.headerSection {
    width: 33%;
    height: 100%;
    border: solid gold 2px;
    box-sizing: border-box;
}

.headerSectionGhost {
    position: absolute;
    z-index: 1;
    /*  */
    width: 33%;
    height: 100%;
    background-color: rgba(15, 10, 30, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}