.ays {
    position: absolute;
    z-index: 2;
    /*  */
    width: 20%;
    height: 20%;
    background-color: rgba(15, 10, 30);
    border:solid  rgb(69, 120, 186) 4px;
    color: aliceblue;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.aysChoiceDisplayer {
    width: 80%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.wfrContinue {
    background-color: red;
}