.ays {
    position: absolute;
    z-index: 2;
    /*  */
    width: 12rem;
    min-width: 12rem;
    height: 12rem;
    min-height: 12rem;
    background-color: rgba(15, 10, 30);
    border:solid  rgb(69, 120, 186) 4px;
    color: aliceblue;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.aysChoiceDisplayer {
    width: 80%;
    height: 1.3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.wfrContinue {
    font-weight: bold;
    background-color: red;
}

.aysContinue {
    color: red;
    font-weight: bold;
}

.aysContinue:hover {
    color: white;
    background-color: red;
}

.aysAbort {
    font-weight: bold;
}

.aysAbort:hover {
    color: white;
    background-color: black;
}