.editorPage {
    display: flex;
}

/* VIEW */
.editView {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 70%;
    max-width: 29.7rem;
    height: 90%;
    min-height: 10rem;
    background-color: black;
    border: solid  rgb(69, 120, 186) 4px;
    padding-right: 1rem;
    box-sizing: border-box;
}

.editViewTop {
    width: 100%;
    max-width: 26.7rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.editBlankHorizontal {
    width: 6.5rem;
    min-width: 6.5rem;
    height: 1rem;
}

.editViewBottom {
    max-width: 27rem;
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}

.editRangeVertival {
    height: 100%;
    padding-left: 1rem;
}

.editBlankVertical {
    width: 1rem;
    height:  4.5rem;
    min-height: 4.5rem;
}

.editTable {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    background-color: black;
}



/* SHOP */
.editShop {
    overflow: hidden;
    overflow-y: scroll;
    /*  */
    width: 12rem;
    min-width: 12rem;
    height: 90%;
    min-height: 10rem;
    background-color: black;
    border:solid  rgb(69, 120, 186) 4px;
    margin-left: 1rem;
    box-sizing: border-box;
}

.shopLists {
    display: flex;
    align-items: flex-start;
}

.shopList {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
   
}

.shopCategory {
    width: 4.5rem;
    min-width: 3.5rem;
    margin-left: 0.5rem;
    padding: 2px;
    background-color: rgb(69, 120, 186);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.posSpacer {
    margin: 1px;
    padding: 2px;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid transparent 1px;
}

.posSpacer:hover {
    box-shadow: 0 0 0 0rem rgba(234, 178, 11, 1);
    border: solid red 1px;
    box-sizing: border-box;
}

.posSpacer2 {
    width: 1rem;
    height: 1rem;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.posSpacer2:hover {
    animation: pulseToEdit infinite 1.3s;
}

.oMessages {
    height: 5rem;
    background-color: rgb(69, 120, 186);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.oMessage1 {
    height: 2rem;
    border-bottom: solid black 1px;
    cursor: default;
}

.oMessage2 {
    cursor: default;
}

.levelNameSelect {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.levelTester {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulseToEdit {
    from {
        overflow: inherit;
        box-shadow: 0 0 0 0rem white;
    }
    to { 
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    }
  }
