.editorPage {
    display: flex;
}

/* VIEW */
.editView {
    position: relative;
    width: 70%;
    max-width: 29.7rem;
    height: 90%;
    min-height: 10rem;
    background-color: black;
    border: solid  rgba(234, 178, 11) 4px;
    /* padding-right: 1rem; */
    box-sizing: border-box;
}

.editToGameButton {
    z-index: 3;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11);
    background-color: transparent;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editToGameButton:hover {
    color: orangered;
    border: solid orangered 4px;
}

.editViewScroller {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    max-width: 100%;
    max-height: 100%;
}

.editViewScroller::-webkit-scrollbar {
    display: none;
}

.editViewTop {
    width: 100%;
    /* max-width: 26.7rem; */
    height: 1rem;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.rangeTrackHorizontal {
    height: 6px;
    width : 19.9rem;
    min-width: 19.9rem;
    background-color: #ccc;
}

.rangeTrackHorizontalBig {
    height: 12px;
    width : 4.7rem;
    min-width: 39.9rem;
    background-color: #ccc;
}

.editBlankHorizontal {
    width: 6.5rem;
    min-width: 6.5rem;
    height: 1rem;
}

.editBlankHorizontalBig {
    width: 11rem;
    min-width: 11rem;
    height: 1rem;
}

.rangeTrackVertical {
    width: 6px;
    height: 16rem;
    min-height: 16rem;
    background-color: #ccc;
}

.rangeTrackVerticalBig {
    width: 12px;
    height: 32rem;
    min-height: 32rem;
    background-color: #ccc;
}

.editViewBottom {
    max-width: 27rem;
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}

.editBlankVertical {
    width: 1rem;
    height:  4.5rem;
    min-height: 4.5rem;
}

.editBlankVerticalBig {
    width: 2rem;
    height:  9rem;
    min-height: 9rem;
}

.rangeButton {
    background-color:  rgba(234, 178, 11);
}

.rangeButton:hover {
    background-color: orangered;
}

.editTable {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    background-color: black;
}

/* SHOP */
.editShop {
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    /*  */
    width: 12rem;
    min-width: 12rem;
    height: 90%;
    min-height: 10rem;
    padding-top: 3rem;
    color:  rgba(234, 178, 11);
    background-color: black;
    border:solid  rgba(234, 178, 11) 4px;
    margin-left: 1rem;
    box-sizing: border-box;
}

.editShop::-webkit-scrollbar {
    display: none;
}

.shopLists {
    display: flex;
    align-items: flex-start;
}

.shopList {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
   
}

.shopCategory {
    width: 4.5rem;
    min-width: 3.5rem;
    margin-left: 0.5rem;
    padding: 2px;
    background-color: rgba(234, 178, 11);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.posSpacer {
    margin: 1px;
    padding: 2px;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid transparent 1px;
}

.posSpacer:hover {
    box-shadow: 0 0 0 0rem rgba(234, 178, 11, 1);
    border: solid red 1px;
    box-sizing: border-box;
    cursor: pointer;
}

.posSpacer2 {
    width: 1rem;
    height: 1rem;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.posSpacer2:hover {
    animation: pulseToEdit infinite 1.3s;
}

.oMessages {
    height: 4.2rem;
    margin-top: 0.5rem;
    color: black;
    background-color: rgba(234, 178, 11);
    display: flex;
    flex-direction: column;
}

.oMessage1 {
    color: black;
    border-bottom: solid black 1px;
    cursor: default;
}

.oMessage2 {
    cursor: default;
}

.levelNameSelect {
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.levelContextSelect {
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.levelTester {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.levelEditerButton {
    height: 2rem;
    font-weight: bold;
    background-color: blue;
    margin-left: 1rem;
}

.levelEditerButton:hover {
    background-color: orangered;
}

.levelTesterButton {
    height: 2rem;
    font-weight: bold;
    background-color: purple;
    color:  rgba(234, 178, 11);;
}

.levelTesterButton:hover {
    background-color: orangered;
    color: black;
}

.backToGameButton {
    height: 2rem;
    width: 100%;
    background-color: rgba(234, 178, 11);
    margin-top: 4rem;
}

.backToGameButton:hover {
    background-color: orangered;
}

@keyframes pulseToEdit {
    from {
        overflow: inherit;
        box-shadow: 0 0 0 0rem white;
    }
    to { 
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    }
  }
