.gamePage {
    display: flex;
}

/* BOARD et POS */
.boardContainer {
    position: relative;
    overflow: hidden;
    /*  */
    width: 100%;
    max-width: 42.7rem;
    height: 90%;
    background-color: black;
    border: solid  rgba(234, 178, 11) 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.enlargeScreen {
    overflow: inherit;
    position: absolute;
    z-index: 5;
    width: 1.4rem;
    height: 1.4rem;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
    top: 0rem;
    left: 0rem;
}

.enlargeScreen:hover {
    background-color: orangered;
}

/* .reduceScreen {
    overflow: inherit;
    position: absolute; 
    z-index: 5;
    width: 1.4rem;
    height: 1.4rem;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
    top: 0.5rem;
    left: 0.5rem;
} */

.reduceScreen {
    z-index: 3;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
    padding-left: 0.6rem;
    color: rgba(234, 178, 11);
    background-color: transparent;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.reduceScreen2 {
    z-index: 3;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
    padding-left: 0.6rem;
    color: rgba(234, 178, 11,0.5);
    background-color: transparent;
    border: solid rgba(234, 178, 11,0.5) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reduceScreen:hover {
   color: orangered;
   border: solid orangered 4px;
}

.reduceScreen2:hover {
    color: orangered;
    border: solid orangered 4px;
}

.backToEdit {
    overflow: inherit;
    position: absolute;
    z-index: 6;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
    top: 0rem;
    right: 0rem;
}

.backToEdit:hover,.backToEdit2:hover {
    background-color: orangered;
}

.boardScroller {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    /*  */
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.boardScroller::-webkit-scrollbar {
    display: none;
}

.startPopper {
    z-index: 2;
    position: absolute;
    pointer-events:none;
    /*  */
    width: 100%;
    height: 100%;
    background-color: rgba(69, 120, 186, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.startButtonContainer {
    z-index: 3;
    position: absolute;
    pointer-events: auto;
    width: 10rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.startButton {
    z-index: 3;
    /* position: absolute; */
    pointer-events: auto;
    color: black;
    font-weight: bold;
    margin: 0.5rem;
    background-color: lime;
    /* animation: pulseStart 1.3s infinite; */
}

.startButton:hover {
    background-color: orangered;
    color:black;
}

.table {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.ligns {
    display: flex;
}

.pos {
    font-size: 9px;
    color: white;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgba(234, 178, 11);
}

@keyframes pulse {
    from {
        z-index: 1;
        overflow: inherit;
        box-shadow: 0 0 0 0rem rgba(234, 178, 11);
    }
    to { 
        z-index: 1;
        box-shadow: 0 0 0 4px rgba(234, 178, 11, 0.01);
    }
}

@keyframes pulseExit {
    from {
        z-index: 10;
        overflow: inherit;
        box-shadow: 0 0 0 0rem rgb(201, 110, 246);
    }
    to { 
        z-index: 10;
        box-shadow: 0 0 0 4px rgb(158, 23, 226, 0.01);
    }
}

@keyframes pulseStart {
    from {
        z-index: 10;
        overflow: inherit;
        box-shadow: 0 0 0 0rem red;
    }
    to { 
        z-index: 10;
        box-shadow: 0 0 0 8px rgba(255, 0, 0, 0.01);
    }
}

/* SCROLL PLAYER INTO VIEW */
div[id^="player"] {
    /* top: -50rem;
    right: -50rem; */
    /* left: -50%;
    bottom: -50%; */
}

  /* div[id^="player"] {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-right: 6rem;
    padding-left: 6rem;
    position: relative;
    margin-top: -6rem;
    margin-bottom: -6rem;
    margin-right: -6rem;
    margin-left: -6rem;
    } */

/* PAD */
.padContainer {
    z-index: 1;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    box-sizing: border-box;
}

.padContainer2 {
    z-index: 1;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    box-sizing: border-box;
}

.infoContainer {
    z-index: 3;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    bottom: 0.5rem;
    right: 1.5rem;
    width: 12rem;
    max-height: 100%;
    text-align: center;
    color: rgba(234, 178, 11);
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    box-sizing: border-box;
}

.infoContainer::-webkit-scrollbar {
    display: none;
}

.commandInfo {
    z-index: 4;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 2rem;
}

.commandInfoLarge {
    z-index: 4;
    overflow: hidden;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    width: 3rem;
    height: 3rem;
    color: rgba(234, 178, 11);
    /* padding-left: 0.6rem; */
    padding-bottom: 0.5rem;
    background-color: transparent;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
}

.commandInfoLarge2 {
    z-index: 4;
    overflow: hidden;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    width: 3rem;
    height: 3rem;
    color: rgba(234, 178, 11,0.5);
    padding-left: -0.6rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    border: solid rgba(234, 178, 11,0.5) 4px;
    border-radius: 4px;
}

.commandInfoLarge:hover {
    border: solid orangered 4px;
}

.commandInfoLarge2:hover {
    border: solid orangered 4px;
}

.commandInfoButton {
    overflow: hidden;
    width: 100%;
    height: 1.9rem;
    color: inherit;
    padding-left: 0.6rem;
    padding-bottom: 0.8rem;
    background-color: transparent;
    border: solid transparent 0px;
    border-bottom: solid rgba(234, 178, 11) 4px;
    border-color: inherit;
}

.commandInfoButton:hover {
    color: orangered;
}

.keyInfoSpan {
    font-weight: bold;
    color: orangered;
}

.keyInfoSpan:hover {
    font-weight: bold;
    color: rgba(234, 178, 11);
}

.padButton {
    width: 100%;
    height: 1.6rem;
    color: inherit;
    padding-left: 0.6rem;
    padding-bottom: 0.8rem;
    background-color: transparent;
    border: solid transparent 0px;
}

.padButton:hover {
    color: orangered;
}

.padMessage {
    width: 100%;
    height: 3rem;
    font-size: 13px;
    background-color:rgba(234, 178, 11) ;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad {
    display: flex;
    flex-direction: column;
}

.padLigns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padArrowUp {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: inherit;
    border-top: solid rgb(69, 120, 186) 4px;
    border-left: solid rgb(69, 120, 186) 4px;
    border-right: solid rgb(69, 120, 186) 4px;
    border-radius: 4px;
}

.padArrowLeft {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: inherit;
    border-top: solid rgb(69, 120, 186) 4px;
    border-left: solid rgb(69, 120, 186) 4px;
    border-bottom: solid rgb(69, 120, 186) 4px;
    border-radius: 4px;
}

.padArrowRight {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: inherit;
    border-top: solid rgb(69, 120, 186) 4px;
    border-right: solid rgb(69, 120, 186) 4px;
    border-bottom: solid rgb(69, 120, 186) 4px;
    border-radius: 4px;
}

.padArrowDown {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: inherit;
    border-Left: solid rgb(69, 120, 186) 4px;
    border-Right: solid rgb(69, 120, 186) 4px;
    border-bottom: solid rgb(69, 120, 186) 4px;
    border-radius: 4px;
}

.padActivity {
    position: absolute;
    top:2.25rem;
    left:2.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color:  gold;
    background-color:  rgba(234, 178, 11) ;
    border: solid rgba(234, 178, 11) 4px;
    border: solid rgb(69, 120, 186) 4px;
    border-radius: 8px;
    margin: 0.5rem;
}

.padActivity2 {
    position: absolute;
    top: 2.25rem;
    left: 2.25rem;
    left: calc(100vw - 9.8rem);
    width: 2.5rem;
    height: 2.5rem;
    background-color:  gold;
    background-color:  rgba(234, 178, 11) ;
    border: solid rgba(234, 178, 11) 4px;
    border: solid rgb(69, 120, 186) 4px;
    border-radius: 8px;
    margin: 0.5rem;
}

.padOption {
    position: absolute;
    top: -1rem;
    left: 8rem;
    width: 1rem;
    height: 1rem;
    background-color: red;
}

.padOption2 {
    position: absolute;
    top: -1rem;
    left: calc(100vw - 4rem);
    width: 1rem;
    height: 1rem;
    background-color: red;
}

.padPause {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    color: rgba(234, 178, 11,0.5);
    padding-left: 0.6rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    border: solid rgba(234, 178, 11,0.5) 4px;
    border-radius: 4px;
}

.padPause:hover {
    color: orangered;
    border: solid  orangered 4px;
}

.gameToEditButton {
    z-index: 3;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
    padding-left: 0.6rem;
    color: rgba(234, 178, 11);
    background-color: transparent;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameToEditButton:hover {
    color: orangered;
    border: solid orangered 4px;
}

.gameToEditButton2 {
    z-index: 3;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
    padding-left: 0.6rem;
    color: rgba(234, 178, 11,0.5);
    background-color: transparent;
    border: solid rgba(234, 178, 11,0.5) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameToEditButton2:hover {
    color: orangered;
    border: solid orangered 4px;
}

.contextButton2 {
    z-index: 4;
    position: absolute;
    top: 0.5rem;
    left: calc(50% - 5rem);
    width: 10rem;
    height: 2rem;
    font-size: 2.1rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11,0.5);
    background-color: transparent;
    border: solid rgba(234, 178, 11,0.5) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: contextOut 0.2s linear; */
}

.contextButton:hover {
    color: orangered;
    border: solid orangered 4px;
}

.contextButton {
    z-index: 4;
    position: absolute;
    top: 0.5rem;
    left: calc(50% - 5rem);
    width: 10rem;
    height: 2rem;
    font-size: 2.1rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11);
    background-color: transparent;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: contexOut 0.2s linear;
}

.contextButton2:hover {
    color: orangered;
    border: solid orangered 4px;
}

.contextDisplayer {
    z-index: 4;
    position: absolute;
    top: 0.5rem;
    left: calc(50% - 7rem);
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11);
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.7);
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* animation: contextIn 0.2s linear; */
}

.contextDisplayer2 {
    z-index: 4;
    position: absolute;
    top: 0.5rem;
    left: calc(50% - 7rem);
    width: 14rem;
    /* height: 6rem; */
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11,0.5);
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.7);
    border: solid rgba(234, 178, 11,0.5) 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* animation: contextIn 0.2s linear; */
}

.contextDisplayer:hover {
    color: orangered;
    border: solid orangered 4px;
}

.contextDisplayer2:hover {
    color: orangered;
    border: solid orangered 4px;
}

.levelContextTitle {
    margin-bottom: 1rem;
    line-height: 0;
}

.levelContextContext {
    margin: 0;
}

.burgerMenuSlide {
    z-index: 3;
    position: absolute;
    top: calc(50% - 1.5rem);
    right: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(234, 178, 11);
    padding-left: 1rem;
    padding-bottom: 2.6rem;
    background-color: transparent;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerMenuSlide2 {
    z-index: 3;
    position: absolute;
    top: calc(50% - 1.5rem);
    right: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(234, 178, 11,0.5);
    padding-left: 1rem;
    padding-bottom: 2.6rem;
    background-color: transparent;
    border: solid rgba(234, 178, 11,0.5) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerMenuSlide:hover {
    color: orangered;
    border: solid orangered 4px;
}

.burgerMenuSlide2:hover {
    color: orangered;
    border: solid orangered 4px;
}

/* LEVELSSLIDE */
.levelsSlide {
    z-index: 5;
    position: absolute;
    top: calc(50% - 10rem);
    left: -0.5rem;
    width: 12.6rem;
    height: 20rem;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: levelsSlide 0.4s;
}

.levelsSlide2 {
    z-index: 5;
    position: absolute;
    top: calc(50% - 10rem);
    left: -11.5rem;
    width: 12.6rem;
    height: 20rem;
    max-height: 100%;
    display: flex;
    animation: levelsSlideBack 0.2s;
}

.presTitlesContainer {
    overflow: hidden;
    overflow-y: scroll;
    width: 14rem;
    /* max-width: 100%; */
    height: 20rem;
    max-height: 100%;
    margin-left: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;
}

.headerGameTitles2 {
    overflow: hidden;
    width: 9rem;
    height: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-end;
    /* justify-content: flex-start; */
    box-sizing: border-box;
}

.levelsCategories {
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    margin-left: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.headerGameTitle {
    width: 9rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: rgba(234, 178, 11);
}

.headerGameTitle:hover {
    background-color: orangered;
}

.headerGameTitleInact {
    width: 9rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: gray;
}

.headerGameTitleEdit {
    width: 9rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    color:rgba(234, 178, 11);
    background-color: blue;
}

.headerGameTitleEdit:hover {
    background-color: orangered;
}

.headerGameTitle2 {
    height: 2rem;
    min-width: 2rem;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.3rem;
    background-color: rgba(234, 178, 11);
}

.headerGameTitle2:hover {
    background-color: orangered;
}

.headerGameDivs {
    height: 16.5rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.headerGameDiv {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.headerGameDiv::-webkit-scrollbar {
    display: none;
}

.levelSelectorValid {
    width: 9rem;
    min-height: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    background-color: goldenrod;
    font-size: 0.8rem;
}

.levelSelectorValid:hover {
    font-weight: bold;
    background-color: rgb(246, 202, 91);
    font-size: 0.8rem;
}

.levelSelectorNew {
    width: 9rem;
    min-height: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: aliceblue;
    background-color: purple;
    font-size: 0.8rem;
}

.levelSelectorNew:hover {
    background-color: rgb(214, 13, 214);
}

.levelSelectorSearch {
    width: 9rem;
    min-height: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    background-color: rgb(11, 170, 11);
    border-radius: 4px;
    font-size: 0.8rem;
}

.levelSelectorSearch:hover {
    background-color: rgb(32, 215, 32);
}

.levelSearchInput {
    max-width: 8rem;
    min-height: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    border-radius: 4px;
    font-size: 0.8rem;
}

@keyframes levelsSlide {
    from {  
        left: -11.5rem;
    }
    to { 
        left: -0.5rem;
    }
}

@keyframes levelsSlideBack {
    from {
        display: flex;
        left: -0.5rem;
    }
    to { 
        left: -11.5rem;
        display: none;
    }
}

.difficultyDisplay {
    z-index: 4;
    position: absolute;
    top: calc(50% - 3rem);
    right:0rem;
    width: 4rem;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.difficultyButton {
    width: 5rem;
    height: 1.5rem;
    font-weight: bold;
    margin-right: 2rem;
    background-color:  rgba(234, 178, 11);
}

.difficultyButton:hover {
    background-color: orangered;
}

.loadingText {
    color: red;
}

@keyframes contextIn {
    from {
        width: 10rem;
        left: calc(50% - 5rem);
        height: 2rem;
    }
    to { 
        width: 14rem;
        left: calc(50% - 7rem);
        height: auto;
    }
}

@keyframes contextOut {
    from {
        width: 14rem;
        left: calc(50% - 7rem);
        height: auto;
    }
    to { 
       width: 10rem;
       left: calc(50% - 5rem);
       height: 2rem;
    }
}

@keyframes pulseTitle {
    from {
        box-shadow: 0 0 0 0rem orangered;
    }
    to { 
        box-shadow: 0 0 0 16px rgba(255, 68, 0, 0.01);
    }
}

.actionDisplayer {
    position: absolute;
    bottom: 0;
    left: calc(50% - 10rem);
    width: 20rem;
    height: 2.5rem;
    color:  rgba(234, 178, 11);
    display: flex;
    justify-content: center;
}

.rotateScreen {
    z-index: 4;
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    width: 2rem;
    height: 3.5rem;
    background-color: black;
    border: solid white 2px;
    border-radius: 4px;
    animation: rotScreen 1.5s infinite;
    display: flex;
}

@keyframes rotScreen {
    0%{
        transform: rotate(0deg);
    }
    20% { 
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

@media (min-width: 501px) {
    .rotateScreen {
        display: none;
    }
}

.inGameMsg {
    z-index: 4;
    position: absolute;
    left: calc(50% - 6rem);
    bottom: 0.5rem;
    width: 12rem;
    color: orangered;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid orangered 4px;
    border-radius: 4px;
    animation: pulseInGameMsg 1s infinite;
}

.inGameMsg2 {
    z-index: 4;
    position: absolute;
    left: calc(50% - 10rem);
    bottom: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
    color: orangered;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.7);
    border: solid orangered 4px;
    border-radius: 4px;
}

@keyframes pulseInGameMsg {
    from {
        color: rgba(255, 68, 0, 0.4);
        border: solid rgba(255, 68, 0, 0.4) 4px;
    }
    to { 
        color: orangered;
        border: solid orangered 4px;
    }
}