.gamePage {
    display: flex;
}

/* BOARD et POS */
.boardContainer {
    position: relative;
    overflow: hidden;
    /*  */
    width: 100%;
    max-width: 42.7rem;
    height: 90%;
    min-height: 10rem;
    background-color: black;
    border: solid  rgb(69, 120, 186) 4px;
    display: flex;
    box-sizing: border-box;
}

.boardScroller {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    /*  */
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.startPopper {
    z-index: 2;
    position: absolute;
    /*  */
    width: 100%;
    height: 100%;
    background-color: rgba(234, 178, 11, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.startButton {
    color:white;
    font-weight: bold;
    background-color: brown;
}

.startButton:hover {
    background-color: red;
}

.table {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.ligns {
    display: flex;
}

.pos {
    font-size: 9px;
    color: white;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: gold;
}

@keyframes pulse {
    from {
        overflow: inherit;
        box-shadow: 0 0 0 0rem rgba(234, 178, 11, 1);
    }
    to { 
        box-shadow: 0 0 0 4px rgba(234, 178, 11, 0.01);
    }
  }
  @keyframes pulseExit {
    from {
        overflow: inherit;
        box-shadow: 0 0 0 0rem rgb(201, 110, 246);
    }
    to { 
        box-shadow: 0 0 0 4px rgb(158, 23, 226, 0.01);
    }
  }

/* PAD */
.padContainer {
    overflow: hidden;
    overflow-y: scroll;
    width: 10rem;
    min-width: 10rem;
    height: 90%;
    min-height: 10rem;
    background-color: black;
    border: solid  rgb(69, 120, 186) 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    box-sizing: border-box;
}

.padIsTrue {
    display: flex;
    flex-direction: column;
}

.padButton {
    font-weight: bold;
    background-color: brown;
    color: aliceblue;
}

.padButton:hover {
    background-color: red;
}

.padMessage {
    width: 100%;
    height: 2rem;
    background-color:rgb(69, 120, 186) ;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad {
    display: flex;
    flex-direction: column;
}

.padLigns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padArrow {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(167, 17, 167);
    border: solid rgb(105, 7, 105) 4px;
    border-radius: 50%;
}

.padActivity {
    width: 2.5rem;
    height: 2.5rem;
    background-color:  gold;
    border: solid goldenrod 4px;
    border-radius: 50%;
    margin: 0.5rem;
}
