.gamePage {
    display: flex;
}

/* BOARD et POS */
.boardContainer {
    position: relative;
    overflow: hidden;
    /*  */
    width: 100%;
    max-width: 42.7rem;
    height: 90%;
    background-color: black;
    border: solid  rgba(234, 178, 11) 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.enlargeScreen {
    overflow: inherit;
    position: absolute;
    z-index: 5;
    width: 1.4rem;
    height: 1.4rem;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
    top: 0rem;
    left: 0rem;
}

.enlargeScreen:hover {
    background-color: orangered;
}

.reduceScreen {
    overflow: inherit;
    position: absolute; 
    z-index: 5;
    width: 1.4rem;
    height: 1.4rem;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
    top: 0.5rem;
    left: 0.5rem;
}

.reduceScreen:hover {
    background-color: orangered;
}

.backToEdit {
    overflow: inherit;
    position: absolute;
    z-index: 6;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
    top: 0rem;
    right: 0rem;
}

.backToEdit:hover,.backToEdit2:hover {
    background-color: orangered;
}

.boardScroller {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    /*  */
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.boardScroller::-webkit-scrollbar {
    display: none;
}

.startPopper {
    z-index: 2;
    position: absolute;
    pointer-events:none;
    /*  */
    width: 100%;
    height: 100%;
    background-color: rgba(69, 120, 186, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.startButton {
    z-index: 3;
    position: absolute;
    pointer-events: auto;
    color:white;
    font-weight: bold;
    background-color: orangered;
    animation: pulseStart 1.3s infinite;
}

.startButton:hover {
    background-color: greenyellow;
    color:black;
}

.table {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.ligns {
    display: flex;
}

.pos {
    font-size: 9px;
    color: white;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgba(234, 178, 11);
}

@keyframes pulse {
    from {
        z-index: 1;
        overflow: inherit;
        box-shadow: 0 0 0 0rem rgba(234, 178, 11);
    }
    to { 
        z-index: 1;
        box-shadow: 0 0 0 4px rgba(234, 178, 11, 0.01);
    }
}

@keyframes pulseExit {
    from {
        z-index: 10;
        overflow: inherit;
        box-shadow: 0 0 0 0rem rgb(201, 110, 246);
    }
    to { 
        z-index: 10;
        box-shadow: 0 0 0 4px rgb(158, 23, 226, 0.01);
    }
}

@keyframes pulseStart {
    from {
        z-index: 10;
        overflow: inherit;
        box-shadow: 0 0 0 0rem red;
    }
    to { 
        z-index: 10;
        box-shadow: 0 0 0 8px rgba(255, 0, 0, 0.01);
    }
}

/* SCROLL PLAYER INTO VIEW */
div[id^="player"] {
    top: -100px;
    right: -100px;
}

  /* div[id^="player"] {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-right: 6rem;
    padding-left: 6rem;
    position: relative;
    margin-top: -6rem;
    margin-bottom: -6rem;
    margin-right: -6rem;
    margin-left: -6rem;
    } */

.difficultyDisplay {
    z-index: 4;
    position: absolute;
    top: calc(50% - 3rem);
    right:0rem;
    width: 4rem;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.difficultyButtonHard {
    width: 4rem;
    height: 1rem;
    font-weight: bold;
    background-color:  rgba(234, 178, 11);
}

.difficultyButtonHard:hover {
    background-color: orangered;
}

.difficultyButtonMedium {
    width: 4rem;
    height: 1rem;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
}

.difficultyButtonMedium:hover {
    background-color: orangered;
}

.difficultyButtonEasy {
    width: 4rem;
    height: 1rem;
    font-weight: bold;
    background-color:  rgba(234, 178, 11);
}

.difficultyButtonEasy:hover {
    background-color: orangered;
}

/* PAD */
.padContainer {
    z-index: 1;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    box-sizing: border-box;
}

.infoContainer {
    z-index: 4;
    overflow: hidden;
    position: absolute;
    bottom: 0.5rem;
    right: 1.5rem;
    width: 12rem;
    /* height: 10rem; */
    text-align: center;
    color: rgba(234, 178, 11);
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    box-sizing: border-box;
}

.commandInfo {
    z-index: 3;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 2rem;
}

.commandInfoLarge {
    z-index: 3;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 3.2rem;
    background-color: aqua;
}

.commandInfoButton {
    width: 100%;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
}

.commandInfoButton:hover {
    background-color: orangered;
}

.keyInfoSpan {
    font-weight: bold;
    color: orangered;
}

.padButton {
    width: 100%;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
}

.padButton:hover {
    background-color: orangered;
    color: white;
}

.padMessage {
    width: 100%;
    height: 3rem;
    font-size: 13px;
    background-color:rgba(234, 178, 11) ;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad {
    display: flex;
    flex-direction: column;
}

.padLigns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padArrowUp {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: inherit;
    border-top: solid rgb(69, 120, 186) 4px;
    border-left: solid rgb(69, 120, 186) 4px;
    border-right: solid rgb(69, 120, 186) 4px;
    border-radius: 4px;
}

.padArrowLeft {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: inherit;
    border-top: solid rgb(69, 120, 186) 4px;
    border-left: solid rgb(69, 120, 186) 4px;
    border-bottom: solid rgb(69, 120, 186) 4px;
    border-radius: 4px;
}

.padArrowRight {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: inherit;
    border-top: solid rgb(69, 120, 186) 4px;
    border-right: solid rgb(69, 120, 186) 4px;
    border-bottom: solid rgb(69, 120, 186) 4px;
    border-radius: 4px;
}

.padArrowDown {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: inherit;
    border-Left: solid rgb(69, 120, 186) 4px;
    border-Right: solid rgb(69, 120, 186) 4px;
    border-bottom: solid rgb(69, 120, 186) 4px;
    border-radius: 4px;
}

.padActivity {
    width: 2.5rem;
    height: 2.5rem;
    background-color:  gold;
    background-color:  rgba(234, 178, 11) ;
    border: solid rgba(234, 178, 11) 4px;
    border: solid rgb(69, 120, 186) 4px;
    border-radius: 8px;
    margin: 0.5rem;
}

.gameToEditButton {
    z-index: 3;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11);
    background-color: transparent;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameToEditButton:hover {
    color: orangered;
    border: solid orangered 4px;
}

.gameToEditButton2 {
    z-index: 3;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    font-size: 2.1rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11,0.5);
    background-color: transparent;
    border: solid rgba(234, 178, 11,0.5) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameToEditButton2:hover {
    color: orangered;
    border: solid orangered 4px;
}

.contextButton {
    z-index: 4;
    position: absolute;
    top: 0.5rem;
    left: calc(50% - 1rem);
    width: 2rem;
    height: 2rem;
    font-size: 2.1rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11,0.5);
    background-color: transparent;
    border: solid rgba(234, 178, 11,0.5) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contextButton:hover {
    color: orangered;
    border: solid orangered 4px;
}

.contextButton2 {
    z-index: 4;
    position: absolute;
    top: 0.5rem;
    left: calc(50% - 1rem);
    width: 2rem;
    height: 2rem;
    font-size: 2.1rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11);
    background-color: transparent;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contextButton2:hover {
    color: orangered;
    border: solid orangered 4px;
}

.contextDisplayer {
    z-index: 4;
    position: absolute;
    top: 0.5rem;
    left: calc(50% - 7rem);
    width: 14rem;
    height: 6rem;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
    color: rgba(234, 178, 11);
    background-color: transparent;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contextDisplayer:hover {
    color: orangered;
    border: solid orangered 4px;
}

.burgerMenuSlide {
    z-index: 3;
    position: absolute;
    top: calc(50% - 1.5rem);
    right: -1.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(234, 178, 11);
    background-color: black;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerMenuSlide:hover {
    color: orangered;
    border: solid orangered 4px;
}

/* LEVELSSLIDE */
/* .levelsSlideContainer {
    z-index: 5;
    position: absolute;
    overflow-y: scroll;
    top: calc(50% - 10rem);
    left: -0.5rem;
} */

.levelsSlide {
    z-index: 5;
    position: absolute;
    /* overflow-y: scroll; */
    top: calc(50% - 10rem);
    left: -0.5rem;
    width: 15.6rem;
    height: 20rem;
    max-height: 100%;
    background-color: black;
    border-top: solid rgba(234, 178, 11) 4px;
    border-right: solid rgba(234, 178, 11) 4px;
    border-bottom: solid rgba(234, 178, 11) 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: levelsSlide 0.4s;
}

.levelsSlide2 {
    z-index: 5;
    position: absolute;
    top: calc(50% - 10rem);
    left: -14.5rem;
    width: 15.6rem;
    height: 20rem;
    /* max-height: 100%; */
    background-color: black;
    border-top: solid rgba(234, 178, 11) 4px;
    border-right: solid rgba(234, 178, 11) 4px;
    border-bottom: solid rgba(234, 178, 11) 4px;
    display: flex;
    animation: levelsSlideBack 0.2s;
}

.presTitlesContainer {
    width: 14rem;
    /* max-width: 100%; */
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;
}

.headerGameTitles2 {
    overflow: hidden;
    overflow-x: scroll;
    width: 15rem;
    height: 3.5rem;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.headerGameTitles2::-webkit-scrollbar {
    display: none;
}

.levelsCategories {
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.headerGameTitle {
    font-size: 1rem;
    font-weight: bold;
    width: 9rem;
    height: 3.5rem;
    background-color: rgba(234, 178, 11);
}

.headerGameTitle:hover {
    background-color: orangered;
}

.headerGameTitleInact {
    font-size: 1rem;
    font-weight: bold;
    width: 9rem;
    height: 3.5rem;
    background-color: gray;
}

/* .headerGameTitleValid {
    font-size: 1rem;
    font-weight: bold;
    width: 9rem;
    height: 3.5rem;
    background-color: rgba(234, 178, 11) ; 
}

.headerGameTitleValid:hover {
    background-color: orangered;
} */

/* .headerGameTitleNew {
    font-size: 1rem;
    font-weight: bold;
    width: 9rem;
    height: 3.5rem;
    background-color: rgba(234, 178, 11);
}

.headerGameTitleNew:hover {
    background-color: orangered;
} */

/* .headerGameTitleSearch {
    font-size: 1rem;
    font-weight: bold;
    width: 9rem;
    height: 3.5rem;
    background-color: rgba(234, 178, 11);
}

.headerGameTitleSearch:hover {
    background-color: orangered;
} */

.headerGameTitleEdit {
    font-size: 1rem;
    font-weight: bold;
    width: 9rem;
    height: 3.5rem;
    background-color: blue;
}

.headerGameTitleEdit:hover {
    background-color: orangered;
}

.headerGameTitle2 {
    height: 3.5rem;
    min-width: 8rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(234, 178, 11);
}

.headerGameTitle2:hover {
    background-color: orangered;
}

.headerGameTitleBack {
    font-size: 1rem;
    font-weight: bold;
    min-width: 5rem;
    height: 3.5rem;
    background-color: rgba(234, 178, 11);
}

.headerGameTitleBack:hover {
    background-color:orangered;
}

.headerGameDivs {
    height: 16.5rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.headerGameDiv {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.headerGameDiv::-webkit-scrollbar {
    display: none;
}

.levelSelectorValid {
    width: 9rem;
    min-height: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    background-color: goldenrod;
    font-size: 0.8rem;
}

.levelSelectorValid:hover {
    font-weight: bold;
    background-color: rgb(246, 202, 91);
    font-size: 0.8rem;
}

.levelSelectorNew {
    width: 9rem;
    min-height: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: aliceblue;
    background-color: purple;
    font-size: 0.8rem;
}

.levelSelectorNew:hover {
    background-color: rgb(214, 13, 214);
}

.levelSelectorSearch {
    width: 9rem;
    min-height: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    background-color: rgb(11, 170, 11);
    border-radius: 4px;
    font-size: 0.8rem;
}

.levelSelectorSearch:hover {
    background-color: rgb(32, 215, 32);
}

@keyframes levelsSlide {
    from {  
        left: -14.5rem;
    }
    to { 
        left: -0.5rem;
    }
}

@keyframes levelsSlideBack {
    from {
        display: flex;
        left: -0.5rem;
    }
    to { 
        left: -14.5rem;
        display: none;
        background-color: black;
    }
}