/* HEADER */

.headerSection {
    width: 33.33%;
    height: 100%;
    background-color: rgba(234, 178, 11, 1);
    box-sizing: border-box;
}
.headerSection:hover {
    box-shadow: 0 0 1rem rgb(167, 17, 167);
}

.headerSectionGhost {
    position: absolute;
    z-index: 1;
    /*  */
    width: 33.33%;
    height: 100%;
    background-color: rgba(15, 10, 30, 0.9);
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.headerSectionGhost:hover {
    z-index: 2;
    color: rgb(167, 17, 167);
    box-shadow: 0 0 1rem rgb(167, 17, 167);
    cursor: pointer;
}

/* CENTER */
.headerGame {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.headerGameTitles {
    width: 100%;
    height: 1.15rem;
    display: flex;
    box-sizing: border-box;
}

.headerGameTitle {
    overflow: hidden;
    width: 33.33%;
    min-width: 33.33%;
    height: 100%;
    color: aliceblue;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(215, 213, 213);
    box-sizing: border-box;
}

.headerGameTitle:hover {
    background-color: black;
}

.headerGameDivs {
    height: 100%;
    height: 4.1rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.headerGameDiv {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.levelSelectorValid {
    font-weight: bold;
    background-color: goldenrod;
    font-size: 0.8rem;
}

.levelSelectorValid:hover {
    font-weight: bold;
    background-color: rgb(246, 202, 91);
    font-size: 0.8rem;
}

.levelSelectorNew {
    font-weight: bold;
    color: aliceblue;
    background-color: purple;
    font-size: 0.8rem;
}

.levelSelectorNew:hover {
    background-color: rgb(214, 13, 214);
}

.levelSelectorSearch {
    font-weight: bold;
    background-color: rgb(11, 170, 11);
    font-size: 0.8rem;
}

.levelSelectorSearch:hover {
    background-color: rgb(32, 215, 32);
}

/* RIGHT */

.headerEditButton {
    width: 33,33%;
    height: 100%;
    background-color: goldenrod;
}

.headerEditButton:hover {
    background-color: rgb(246, 202, 91);
}