/* HEADER */

.headerSection {
    width: 33.33%;
    height: 100%;
    border: solid gold 2px;
    box-sizing: border-box;
}

.headerSectionGhost {
    position: absolute;
    z-index: 1;
    /*  */
    width: 33.33%;
    height: 100%;
    background-color: rgba(15, 10, 30, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.headerGameDivs {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.headerGameDiv {
    overflow: hidden;
    overflow-y: scroll;
    width: 33.33%;
    height: 100%;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.levelSelectorValid {
    background-color: goldenrod;
    font-size: 0.8rem;
}

.levelSelectorNew {
    background-color: purple;
    font-size: 0.8rem;
}