.homePage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* TOP */

.presVidsDisplay {
    display: flex;
    flex-direction: column;
}

.presVidDisplay {
    width: 13.5rem;
    background-color: rgb(69, 120, 186);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presVidDisplay:hover {
    color: rgba(234, 178, 11, 1);
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(234, 178, 11, 1);
}

video {
    margin: 0;
    padding: 0;
}

/* CENTER */
.homeToGame {
    height: 4rem;
    background-color: rgba(234, 178, 11, 1);
    margin-bottom: 1rem;
}

.homeToGame:hover {
    background-color: rgb(167, 17, 167);
}

@media (min-width: 501px) {
    .presVidsDisplay {
        flex-direction: row;
    }
}