.homePage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* TOP */

.presVidsDisplay {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-width: 22rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid rgba(234, 178, 11) 4px;
    border-radius: 1rem;
    box-sizing: border-box
}

.presVidDisplay {
    width: 13.5rem;
    height: 10rem;
    margin: 1rem;
    background-color: rgba(234, 178, 11);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presVidDisplay2 {
    width: 13.5rem;
    height: 10rem;
    margin: 1rem;
    background-color: rgba(234, 178, 11);
    display: none;
}

.presVidDisplay:hover {
    color: rgba(234, 178, 11);
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(234, 178, 11, 1);
    background-color:  orangered;;
  
}

video {
    margin: 0;
    padding: 0;
}

/* CENTER */
.homeToGame {
    position: absolute;
    top: -2rem;
    left: calc(50% - 9rem);
    width: 18rem;
    height: 4rem;
    background-color: rgba(234, 178, 11, 1);
    margin-bottom: rem;
}

.homeToGame:hover {
    background-color: orangered;
    box-shadow: 0 0 1rem rgba(234, 178, 11, 1);
}

@media (min-width: 501px) {
    .presVidsDisplay {
        flex-direction: row;
    }
    .presVidDisplay2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}