@import "styles/reset.css";
@import "styles/header.css";
@import "styles/home.css";
@import "styles/game.css";
@import "styles/editor.css";
@import "styles/aysEtWfr.css";

.App {
  overflow: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 10, 30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  width: 90%;
  max-width: 42.7rem;
  height: 6rem;
  min-height: 6rem;
  background-color: black;
  border: solid rgba(234, 178, 11)4px;
  display: flex;
  box-sizing: border-box;
}

header::-webkit-scrollbar {
  display: none;
}

main {
  width: 90%;
  max-width: 42.7rem;
  height: 65%;
  min-height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

footer {
  z-index: 1;
  position: relative;
  width: 90%;
  max-width: 42.7rem;
  height: 6rem;
  background-color:  rgba(234, 178, 11);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spreadOver {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 120, 186, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}



.audioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audioPlayer {
  min-width: 15rem;
  min-height: 3rem;
}